body{
    background-color: rgb(255, 229, 246);
  }

  .letter {
    background-color: #F4ECDF;
    padding: 30px;
    overflow: scroll;
    resize: vertical;
    border: 1px solid black;
    /* padding-top: 20px; */
  }
  
  p {
    font-family: 'Coming Soon';
  }
  
  p:hover {
    cursor: grab;
  }
  

  h1 {
    color: rgb(87, 87, 87);
    font-family: 'Bowlby One SC';
    font-size: 80px;
    text-align: center;
  }

  h2 {
    font-family: 'Bowlby One', sans-serif;
    color: rgb(44, 44, 44);
    font-size: 30px;
    text-align: center;
}

.opening {
  display: flex;
  justify-content:center;
}
  a:hover {
    color: rgb(255, 153, 170);
    cursor: grab;
  }

  .swing {
   filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: flex;
    max-width: auto;
    height: 470px;
    justify-content: center;
    align-content: flex-end;
    transition: 1s;
   
  }

  .swing:hover {
    filter: none;
  }

  /* .card4 {
    display: flex;
    max-width: auto;
    height: 270px;
    justify-content: center;
    align-content: flex-end;
}

.card4:hover {
  filter:opacity(100%);
} */