
body {
    
    background-image: url("imgs/background.jpg");
    background-size: cover; 
    background-repeat: repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    background-color: bisque;
  }
  
h1 {
    color: #c6bfbf;
    font-family: 'Bowlby One SC';
    font-size: 400%;
    text-align: center;
    text-wrap: nowrap; 
    letter-spacing: normal;
    transition: all 2s;
}

h2 {
    font-family: 'Bowlby One', sans-serif;
    color: #999397;
    font-size: 30px;
    text-align: center;
}

.letter {
    background-color: #F4ECDF;
    padding: 30px;
    overflow: scroll;
    resize: vertical;
    border: 1px solid black;
    margin: 10%;
    /* padding-top: 20px; */
  }
  
  p {
    font-family: 'Coming Soon';
  }
  
  p:hover {
    cursor: context-menu;
  }
  
.opening {
    display: block;
    position: absolute;
}

.post {
    display: flex;
    justify-content:center;
}

.postcard {
    display: block;
    align-self: center;
    max-width: auto;
    height: 200%;
    /* height: 270px; */
    /* justify-content: center; */    
    /* align-content: flex-end; */
    position: relative;
}

/* .postcard img.postcardd {
    z-index: 1;
    top: 513.68px;
    left: 267.81px;
    filter: invert(100%);
    position: absolute;
    }

.postcard img.line {
z-index: 2;
top: 0;
left: 0;
width: 342.44px;
height: auto;
position: absolute;
} */


/* .line {
    align-items: top;
    z-axi
    border: 3px;
    border-color: rgb(186, 160, 210);
    border-style: dashed;
    
    display: flex;
    max-width: auto;
    height: 1500px;
    justify-content: center;
    border: 5px;
    border-style:solid;
    border-color: rgb(142, 182, 182);
    align-content: flex-end;
} */
.card {
    display: none;
}

.card:hover {
    filter:opacity(100%);
    opacity: 0;
}

.line {
    max-width: auto;
        height: 100px;
        position: relative;
        justify-content: center;
        align-content: flex-end;
        transition: opacity 2.0s;
        margin: auto;
}

@media all and (min-width: 1100px) {
    body {
    
        background-image: url("imgs/background.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        /* background-position: center center; */
        /* background-attachment: fixed; */
        background-color: bisque;
      }
      
    h1 {
        color: #999397;
        font-family: 'Bowlby One SC';
        font-size: 80px;
        text-align: center;
        text-wrap: nowrap; 
        letter-spacing: 10px;
    }
    
    h2 {
        font-family: 'Bowlby One', sans-serif;
        color: #999397;
        font-size: 30px;
        text-align: center;
    }
    
    
    .postcard {
        display: flex;
        max-width: auto;
        max-height: auto;
        /* height: 270px; */
        /* justify-content: center; */
        /* align-content: flex-end; */
        position: relative;
    }

    .display {
        display:flex;
    }

    .card {
        display: flex;
        max-width: auto;
        height: 300px;
        position: relative;
        justify-content: center;
        align-content: flex-end;
        transition: opacity 2.0s;
        margin: auto;
    }

    /* .line {
        display: none;
    } */
}

