body {
    background-color: #000000;
    cursor: url(imgs/cursor-run.png), grab;
  }

  img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: -10px; */
    display: block;
}

p {
    font-family: arial, helvetica, sans-serif;
    color: gray;
    text-align: left;
}

#randomButton {
    position: fixed;
    top: 50%;
    left: 41%;
    height: auto;
    width: 300px;
}

#randomButton:hover {
    cursor: url(imgs/cursor-step.png),pointer;
    content: url(imgs/shell-hover.png); /* Path to the new image */

}



.firstset {
    opacity:0.1;
}

/* .images {
    opacity: .7;
    transition: 2s;
}
.images:hover {
        opacity:1;
        cursor: url(imgs/cursor-step.png), pointer;
    } */

.p1 {
    text-align: center;
    transition: 5s;
}

.p1:hover {
    color: bisque;
    transition: 2s;
}

.p2 {
    transition: 5s;
}

.p2:hover {
    color: bisque;
    transition: 2s;
}

audio {
        filter: opacity(.8);
        width: 250px;
        height: 25px;
        /* transition: all, 2s; */
        
}

    /* audio:hover {
        filter: opacity(1);
    } */
.displayText {
    color: bisque;
    padding-right: 20px;
}
    .clouds {
        position: absolute;
        top: 27%;
        left: 45%;

    }

    .rocks {
        position: absolute;
        top: 95%;
        left: 15%; 
        padding-right: 10%;
    }

    .waves {
        position: absolute;
        top: 70%;
        left: 60%;
    }

    .sun {
        position: absolute;
        top: 45%;
        left: 10%; 
        padding-right: 10%;
    }

    .overall {
        position: absolute;
        top: 55px;
        left: 50px; 
    }

    .next {
        position: fixed;
        bottom: 20px;
        right: 30px;  
        height: auto;
        width: 100px;
    }

    .next:hover {
        cursor: url(imgs/cursor-step.png),pointer;
        rotate: 20deg;
    }

    .back {
        position: fixed;
        bottom: 20px;
        left: 30px;  
        height: auto;
        width: 100px;
    }

    .back:hover {
        cursor: url(imgs/cursor-step.png),pointer;
        rotate: -20deg;
    }

    .altdesc {
        position: absolute;
        color: bisque;
        padding-right: 20px;
        padding-left: 20px;
        top: 20px;
        font-size: 20px;
    }
    .fakealtclouds {
        position: absolute;
        color: bisque;
        padding-right: 20px;
        padding-left: 20px;
        top: 200px;
    }

    .fakealtsun {
        position: absolute;
        color: bisque;
        padding-right: 20px;
        padding-left: 20px;
        top: 50%;
        transition: 1s;
    }

    .fakealtsun:hover {
        background-color: #000000;
    }

    .fakealtwaves {
        position: absolute;
        color: bisque;
        padding-right: 20px;
        padding-left: 20px;
        top: 700px;
    }

    .fakealtrocks {
        position: absolute;
        color: bisque;
        padding-right: 20px;
        padding-left: 20px;
        top: 105%;
    }

    .resource {
        position: fixed;
        bottom: 20px;
        left: 46%;  
    }

a {
    color: #7b9fbc;
    font-family: sans-serif;
  }
    a:visited {
    color: #a689ca; 
  }
    a:hover {
    color: #d78ab7; 
  }
    a:active {
    color: #b57070; 
  }

  /* .hidden-image {
   opacity:0
  } */


    /* .suntext {
        display:block;
        text-align: left;
        height: auto;
        width: 300px;
    } */

  


/* img + img {
    top: 0;
    left: 0;
}

#clouds {
    top: 0;
    left: 0;
} */