
body {
    background-color: #fec0ff;
    transition: all 1s;
   }
   
   .wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
   
   .button {
     background-color: rgb(255, 71, 197);
     color: rgb(120, 0, 163);
     font-size: 10px;
     font-family: monospace;
     padding: 10px;
     border-radius: 100px;
     transition: 5s ease-out;
   }
   
   .button:hover {
     cursor: pointer;
     opacity: .5;
     padding: 40px;
     font-size: 40px;
   }