
body {
    background-image: url("imgs/BackgroundIMG.JPG");
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: #23160a;
  }
  
  section {
    display:  flex;
    flex-direction:  column;
    justify-content: top;
    align-items:  center;
    height:  100vh;
  }
  
  h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #E06700;
    font-size: 300%;
    letter-spacing: 10px;
    text-align: center;
    text-wrap: nowrap; 
    transition: 1s;
  }

  .button {
    padding: 10px 40px;
    border-radius: 50px;
    background-color:  #275BA7;
    color: #7DB1FE;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    text-align:  center;
    transition:  all 0.5s;
  }
  /* should i make a separate class for the button when it is clicked in order to create custom padding? */
  
  .button:hover {
    background-color: #7DB1FE;
    cursor:  pointer;
    color:#275BA7;
    padding: 13px 43px;
  }

  .buttonOn {
    content: contain;
    background-color: greenyellow;
    transform: translateY(-10px);
  }
  
/* .linebox {
    display: flex;
    position: relative;
} */

.lineandcard{
  /* filter: invert(50%);
  -webkit-filter: invert(50%); */
  /* display: block; */
  position: relative;
  display: hide;
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2 */
}

.line {
    display: inline;
    z-index: -100;
    position: absolute;
    /* filter: invert(99%);
    -webkit-filter: invert(99%); the filters work but why isn't my line image resizing*/
    /* transform: translate (100px, 50px); */
}

.card {
  z-index: 100;
  transition: all 5s;
  position: absolute;
  top:-400px;
  left: -200px;
  width:15%;
}
.nocard {
    /* transform: translate (150px, 50px); */
    display: none;
}
#postcardfront{
  display: none;
}
.carddrop { 
  /* ^should activate when buttonOn? */
  display: block;
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
  animation: drop 2s ease forwards;
  animation-iteration-count:1;
}

.bigL {
  display: none;
}

.cardsandline {
  display: none;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(800px)}
  100%{transform: translateY(790px)}
}

.letterflex {
  display:flex;
  padding: 15%
 }

 .letter {
  justify-content: center;
  width: fit-content;
  height: auto;
 }

@media all and (min-width: 800px) {
  body {
  
      background-image: url("imgs/BackgroundIMG.JPG");
      background-size:cover; 
      background-repeat: no-repeat;
      /* background-position: center center; */
      /* background-attachment: fixed; */
      background-color: #452e1b;
    }
    
  h1 {
      font-size: 500%;
      padding: 100px;
      letter-spacing: 10px;
      text-align: center;
      text-wrap: nowrap; 
      transition: 1s;
  }
  h1:hover {
      letter-spacing: 15px;
      color: #947136;
  }

  .cardsandline {
    display: flex;
    position: relative;
}

  .bigL {
      /* display: flex; */
      display: inline;
      z-index: -100;
      max-width: contain;
      max-height: auto;
      margin: auto;
      animation: scroll linear infinite;
  }

  .lineandcard{
      display: none;
  }
  .card {
    display: none;
  }
  .cardfront{
    display: none;
  }

  @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-200);
      }
    }
    
    .scrolling {
      z-index: 100;
      position: relative;
      overflow: show;
      display:show;
      animation: scroll 20s linear infinite;
    }

}




/* flip card animation notes
.flip-container {
  margin: 50px;
  perspective: 1000;
  display: inline-block;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.card, .front, .back {
  width: 130px;
  height: 195px;
}
.card {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 1;
  transform: rotateY(180deg);
  background: url("/examples/images/card-front.jpg") no-repeat;
}
.back {
  z-index: 2; back side, placed above front
  transform: rotateY(0deg);
  background: url("/examples/images/card-back.jpg") no-repeat;  */