
body {
    background-image: url("imgs/BackgroundIMG.JPG");
    background-size: contain; 
    background-repeat: no-repeat;
    background-color: #23160a;
  }
  
  section {
    display:  flex;
    flex-direction:  column;
    justify-content: top;
    align-items:  center;
    height:  100vh;
  }
  
  h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #E06700;
    font-size: 500%;
    letter-spacing: 10px;
    text-align: center;
    text-wrap: nowrap; 
    transition: 1s;
  }

  .button {
    padding: 10px 40px;
    border-radius: 50px;
    background-color:  #275BA7;
    color: #7DB1FE;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    text-align:  center;
    transition:  all 0.5s;
  }
  /* should i make a separate class for the button when it is clicked in order to create custom padding? */
  
  .button:hover {
    background-color: #7DB1FE;
    cursor:  pointer;
    color:#275BA7;
    padding: 13px 43px;
  }

  .buttonOn {
    content: contain;
    background-color: greenyellow;
    transform: translateY(-30px)
  }
  
.linebox {
    display: flex;
    position: relative;
}

.lineandcard{
    filter: blur(10%);
}

.line {
    /* filter: invert(99%);
    -webkit-filter: invert(99%); the filters work but why isn't my line image resizing*/
transform: translate (150px, 50px);
}

.card {
    transform: translate (150px, 50px)
}