/* Set the map height explicitly */
#map {
    height: 100%;
}

/* Makes the page fill the window */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
      /* Simple styling for the header */
h1 {
    color: #41ad49;
    background-color: #ffff;
    border: 1px solid #41ad49;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    position: absolute; /* Position it relative to the nearest positioned ancestor */
    bottom: 1%;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    opacity: 85%;
}
      