/* Set the map height explicitly */
#map {
    height: 100%;
}

/* Makes the page fill the window */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
      /* Simple styling for the header */
h1 {
    text-align: center;
    padding: 20px;
    color: #41ad49;
    background-color: #f8f8f8;
    border-bottom: 1px solid #41ad49;
    border-top: 1px solid #41ad49;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}
      